@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  /* width: 200px; */
  width: 25%;
  padding: 10px 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

/* nav a {
  text-decoration: none;
  color: white;
} */

.fancy-btn{
  background-color: rgba(31, 41, 39, 0.507);
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid red;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 0.2rem;

  margin: 20px auto;
  transition: color 0.4s;
  bottom: 0;
}
.fancy-btn:after{
  display: inline-block;
  position: absolute;
  content: "";
  border: 2px solid red;
  width: 100%;
  height: 100%;
  top: 0;
  left: -2.5px;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s;
}
.fancy-btn:hover{
  color:#eee;
  cursor: pointer;
}
.fancy-btn:hover:after{
  left: -0.3px;  
  border: 2px solid red;
  width: calc(100% - 15px);
  height: calc(100% + 15px); 
}

/* Home */

#landing-page {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-image: url("photos/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  width: 75ch;
  margin-top: 12em;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
  /* font-weight: 500; */
  color: rgb(236, 236, 195);
  /* background-color: rgba(106, 133, 54, 0.774); */
  background: rgba(31, 41, 39, 0.562);
}

#about p {
  font-weight: 500;
  font-size: 1.2em;
}

/* Booking */

#booking {
  height: 100vh;
  background-image: url("photos/bookingbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu */

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding-top: 150px;
  min-height: 100vh;
  background-image: url("photos/bacgroundmenu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:wheat;
}

.pizzas {
  /* flex-basis: 50%; */
}

.pizza {
    margin: 10px 5px 10px 10px;
    /* margin: 10px auto 10px auto; */
    padding: 30px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
    width: 280px;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pizza:hover {
  background: wheat;
  color:rgba(0, 130, 90);
}

.pizza-description {
  text-align: center;
} 

.drinks {
  /* flex-basis: 50%; */
  /* margin: 0 auto; */
}

.drink {
  width: 190px; 
  
  margin: 10px 10px 10px 5px;
  /* margin: 10px auto 10px auto; */
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 120, 90, 0.8);
}

.drink:hover {
  background: wheat;
  color:rgba(0, 130, 90);
}

.drink-name {
  text-align: center;
}

.drink-price{
  text-align: center
}

.drink-photo {
  width: 180px;
  height: 190px;
}
