@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  /* width: 200px; */
  width: 30%;
  padding: 10px 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

/* nav a {
  text-decoration: none;
  color: white;
} */

.fancy-btn{
  background-color: rgba(31, 41, 39, 0.507);
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid red;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 0.2rem;

  margin: 20px auto;
  transition: color 0.4s;
  bottom: 0;
}
.fancy-btn:after{
  display: inline-block;
  position: absolute;
  content: "";
  border: 2px solid red;
  width: 100%;
  height: 100%;
  top: 0;
  left: -2.5px;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s;
}
.fancy-btn:hover{
  color: white;
  cursor: pointer;
  background-color: rgba(31, 41, 39, 0.363);
}
/* .fancy-btn:active{
  color: white;
  cursor: pointer;
  background-color: rgba(31, 41, 39, 0.363);
} */
.fancy-btn:hover:after{
  left: -0.3px;  
  border: 2px solid red;
  width: calc(100% - 15px);
  height: calc(100% + 15px); 
}
.fancy-btn:active:after{
  left: -0.3px;  
  border: 2px solid red;
  width: calc(100% - 15px);
  height: calc(100% + 15px); 
}

/* Home */

#landing-page {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-image: url("photos/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  width: 75ch;
  margin-top: 12em;
  padding: 0.1em 0.4em 0.5em 0.4em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
  /* font-weight: 500; */
  color: rgb(250, 250, 214);
  /* color: rgb(236, 236, 195); */
  /* background-color: rgba(106, 133, 54, 0.774); */
  background: rgba(31, 41, 39, 0.562);
}

#about p {
  font-weight: 500;
  font-size: 1em;
}

/* Booking */

#booking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width: 100%; */
  
  background-image: url("photos/bookingbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 400px;
  width: 100%;
  height: 500px;
  padding: 25px;
  margin: 50px 10px 0;
  
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 20px;
  text-decoration:none;
  letter-spacing: 0.2rem;
  color: white;

  background: rgba(0, 120, 90, 0.8);
  border-radius: 5px;
}

input[type="email"],
input[type="date"],
input[type="time"],
select {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  color: rgb(0, 120, 90);
}

input::placeholder {
  color: #467745; 
}

#confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  line-height: 1;
  
  max-width: 400px;
  width: 100%;
  height: 500px;
  padding: 5px;
  margin: 20% 5px 0;
  
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 20px;
  /* text-decoration:none; */
  letter-spacing: 0.1rem;
  color: white;

  background: rgba(0, 120, 90, 0.8);
  border-radius: 5px;
}

#confirm h4,
#confirm p {
margin: 5px 0;
}

#confirm h4 {
  font-size: 24px;
}

form .fancy-btn,
#confirm .fancy-btn {
  font-size: 20px;
  margin: 0 auto 10px auto;
}

/* Menu */

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding-top: 150px;
  min-height: 100vh;
  background-image: url("photos/bacgroundmenu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:wheat;
}

/* .pizzas {
  flex-basis: 50%;
} */

.pizza {
    margin: 15px 10px 15px 15px;
    /* margin: 10px auto 10px auto; */
    padding: 30px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
    width: 280px;
    height: 263.8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pizza:hover {
  background: wheat;
  color:rgba(0, 130, 90);
}

.pizza-description {
  text-align: center;
} 

/* .drinks {
  flex-basis: 50%; 
  margin: 0 auto; 
} */

.drink {
  width: 190px; 
  
  margin: 15px 15px 15px 10px;
  /* margin: 10px auto 10px auto; */
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 120, 90, 0.8);
}

.drink:hover {
  background: wheat;
  color:rgba(0, 130, 90);
}

.drink-name {
  text-align: center;
}

.drink-price{
  text-align: center
}

/* .drink-container {
  
} */

.drink-photo {
  width: 180px;
  height: 195px;
  object-fit: initial;
}

@media (max-width: 800px) {
  header {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    /* position: fixed; */
    /* top: 0; */
  }
  .fancy-btn {
    font-size: 15px;
    margin: 10px auto 10px auto;
  }
  #logo {
    min-width: 260px;
    /* position: relative; */
    /* margin-top: 40px; */
    /* padding: 10px 30px; */
  }
  #confirm {
    max-width: 300px;
    height: 400px;
    /* margin: 60px; */
    margin-left: 0;
    margin-right: 0;
  }
  form {
    height: 400px;
  }
  /* #booking {
     height: 120vh; 
  }  */
}
